*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    width:479px;
    height:550px;
    margin:0px auto;
    padding:0px;
}

/* header-section */
header{
    width:100%;
    height:90px;
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
}


#get-color{
    width:55px;
    height:43px;
    padding:0px;
    border:none;
}

#get-scheme{
    height:fit-content;
    width:300px;
    padding:0.8125em 0.5625em;
    border-radius:6px;
    background:#1F293A;
    box-shadow:0px 0px 1px;
    font-size:1rem;
    line-height:24%;
}

#get-color-scheme-btn{
    width:100px;
    height:42px;
    border-radius:4px;
    background-color:#3D4B60;
    color:#FFFFFF;
    border:none;
    font-size:0.65rem;
}

/* colors section */
#colors-section{
    width:480px;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.separate-color{
    width:96px;
}

.color-scheme{
    height:414px;
    width:100%;
}

.hex-code{
    line-height:24%;
    font-size:0.75rem;
    text-align:center;
    color:#D5D4D8;
    margin:1.25em 0em;
}

/* change cursor */
.change-cursor{
    cursor:pointer;
}

/* change font */
.change-font{
    font-family: "Inter", sans-serif;
}

/* change-font-color */
.change-font-color{
    color:#D1D5DB;
}

/* change background */
.change-background{
    background:#1F2937;
}

/* count section */
#count-section{ 
    display:flex;
    margin:0.625em auto;
    flex-direction:column;
    align-items:center;
    gap:15px;
}

#color-count-input{
    width:200px;
    padding:0.3125em 0.625em;
    border-radius:5px;
}

#change-color-count{
    background-color:#16DB99;
    border:none;
    padding:0.5em 0.9375em;
    border-radius:5px;
    color:#1F2937;
}

label{
    font-size:1.125rem;
}

/* message */
#message{
    text-align:center;
    color:#16DB99;
    font-size:1.1rem;
}

@media (prefers-color-scheme: dark){
    img{
        filter:invert(1) hue-rotate(180deg);
    }
}

@media (min-width:480px){

    body{
        width:auto;
        max-width:768px;
        margin:0 auto;
        height:auto;
    }

    /* header section */

    header{
        height:110px;
        align-items:center;
        justify-content:space-between;
        padding:0 10px;
    }
    #get-color{
        min-width:55px;
    }
    #get-scheme{
        width:470px;
    }
    #get-color-scheme-btn{
        padding:15px 20px;
        height:auto;
        width:auto;
        font-size:1rem;
    }

    /* colors section */

    #colors-section{
        width:auto;
        max-width:748px;
        height:auto;
    }
    .separate-color{
        width:auto;
        max-width:120px;
    }
    .color-scheme{
        height:550px;
        width:auto;
        max-width:120px;
    }
    .hex-code{
        font-size:1rem;
        text-align:center;
    }

    /* count section */

    #count-section{ 
        margin:1.5em auto;
        gap:25px;
    }

    #color-count-input{
        width:400px;
        padding:0.4em 0.4em;
        border-radius:5px;
        font-size:1rem;
    }

    #change-color-count{
        font-size:1.5rem;
        margin-bottom:10px;
    }

    label{
        font-size:2rem;
    }

    /* message */

    #message{
        font-size:1.7rem;
        margin-bottom:30px;
    }
}